.mapWrapper {
    height: 100%;
    padding-top: 45px;
}

:global(.am-navbar) {
    margin-top: -45px;
}

.traingle {
    width: 0;
    height: 0;
    border-color: #24b96b transparent transparent transparent;
    border-width: 6px;
    border-style: solid;

    position: relative;
    left: 50%;
    bottom: -4px;
    margin-left: -3px;
    transform: translateX();
    /* transform: translate(-50%); */

}